<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<add name="ConexionDB" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=AreaServicios.mdb;Jet OLEDB:Database Password=Rf14185vDTx;" providerName="System.Data.OleDb" />
	</connectionStrings>
</configuration>